link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Muli", type='text/css')
link(rel="stylesheet", href="http://localhost:5555/stylesheets/common.css")
link(rel="stylesheet", href="/stylesheets/slider.css")