script(type="text/javascript", src="http://localhost:5555/jQuery.js")
script(type="text/javascript", src="http://localhost:5555/json2.js")
script(type="text/javascript", src="/javascripts/_slider.js")
script(type="text/javascript", src="/browserify.js")