extends layout 

block content
	#prv
		img.goToPreviousCatalog(src='/images/previous.png')
	#catalogSlider
		ul
			include _cataloglisting
	#nxt
		img.goToNextCatalog(src='/images/next.png')
	script
		initializeSlider();
